.factor-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.factor-table th,
.factor-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--border-color) !important; /* Adds column separation */
}

.factor-table th {
  background-color: #92b7e1;
  font-weight: bold;
  text-align: center;
  width: 70px;
}

/* Adjusted column widths */
.factor-table th:first-child,
.factor-table td:first-child {
  width: 10%;
}

.factor-table th:nth-child(2),
.factor-table td:nth-child(2) {
  width: 35%;
}

.factor-table th:nth-child(3),
.factor-table td:nth-child(3) {
  width: 55%;
}

.factor-table .score-cell {
  text-align: center;
  font-weight: bold;
}

.factor-table tbody tr:nth-child(even) {
  background-color: #b3b3b3;
}

.factor-table tbody tr:hover {
  background-color: #77caf173;
}
  
  /* Progress Bar Styling */
  .vote-progress-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    transition: width 0.4s ease;
  }
  
  .vote-progress-text {
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Navigation Buttons */
  .factor-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .prev-factor-btn,
  .next-factor-btn {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
  }
  
  .prev-factor-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .factor-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background-color) !important;
    border: 1px solid #ddd;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
  }

  .factor-option:hover {
    background-color: #e0e0e0;
  }
  
  .factor-option.selected {
    background-color: #3b82f6 !important;
    color: white;
    border-color: #2563eb;
  }

  /* Highlight the selected row */
.selected-row {
  background-color: rgb(60, 187, 223) !important;
}

.default-text{
  color: var(--text-color) !important;
}