.factor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .factor-name {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .factor-range {
    margin-top: 15px; /* Moves the range scale a bit down */
    width: 100%; /* Makes the scale take full width */
    max-width: 300px; /* Adjusts the maximum width of the scale */
  }
  
  .factor-item span {
    margin-top: 10px;
    font-size: 1.1rem;
  }
  