.progress-container {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.sections-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.section-title {
  text-align: center;
  font-size: 15px !important;
  color: #333;
  padding: 5px 0;
  border: 1px solid var(--border-color) !important;
}

.section-title.design {
  background-color: #b3dcb7;
  margin-right: 5px;
  width: 587px;
}

.section-title.data {
  background-color: #debee3;
  margin: 0 0px;
  width: 442px;
}

.section-title.result {
  background-color: #ebc5cb;
  margin-left: 5px;
  width: 146px;
}

.progress-steps {
  display: flex;
  gap: 4px;
  width: 100%;
}
  
.progress-step {
  flex: 1;
  min-height: 32px;
  padding: 8px 6px;
  background-color: #e0e0e0;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  word-break: break-word;
  border: 1px solid var(--border-color) !important;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.progress-step:enabled:hover {
  background-color: #61ecc2;
  transform: scale(1.02);
}

.progress-step:disabled {
  cursor: not-allowed;
}

.progress-step.active {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
}

.progress-step-container {
  position: relative;
  flex: 1;
  min-height: 30px;
}
  
.progress-step-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  background-color: #4CAF50;
  transition: width 0.3s ease;
  border-radius: 4px;
  z-index: 1;
}
  
.progress-step-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 4px 6px;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.2;
  word-break: break-word;
  z-index: 2;
  box-sizing: border-box;
  color: black;
}
  
.progress-step.assessor-progress {
  padding: 0;
  overflow: hidden;
  background-color: #e0e0e0;
  height: 30px;
}

.design-section {
  flex: 4;
  display: flex;
  gap: 4px;
}

.data-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
  
.result-section {
  flex: 1;
  display: flex;
  gap: 4px;
  width: 145px;
}

.section-headers {
  display: flex;
  width: 100%;
}

.design-header {
  flex: 4;
}

.data-header {
  flex: 3;
}

.result-header {
  flex: 1;
}

.analyze-btn {
  width: 100%;
  background-color: #75b7b7;
  padding: 8px 6px;
  margin: 0;
  font-size: 13px;
  min-height: 60px;
  line-height: 1.2;
  box-sizing: border-box;
  font-family: Verdana, sans-serif !important;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  flex: 1;
  color: black !important;
  cursor: pointer;
}

.analyze-btn:hover {
  background-color: #50c1c1;
}


.assessor-progress {
  cursor: default;
  pointer-events: none;
}