.card-header {
  position: relative; /* Required to position the close button */
  padding-top: 30px;
}

.voting-selector-card {
  text-align: center;
  position: relative;
}

.voting-buttons-container {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  gap: 1rem; /* Optional, to add space between the buttons */
}

.voting-type-btn {
  padding: 1.5rem;
  width: 200px;
  border-radius: 0.5rem;
  background-color: #3b82f6;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.voting-type-btn.completed {
  background-color: #4ade80;
}

.check-mark {
  font-size: 1.5rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.close-btn:hover {
  color: red; /* Optional: Change color on hover */
}