/* WelcomePage.css */

/* Make sure the html and body elements take up the full height */
html, body {
  height: 100%;
  width: 100%;
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrollbars */
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height of the screen */
  width: 100%;
  background-color: var(--background) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--border-color) !important;
  padding-top: 10%; /* Add padding to move the content below the navbar */
  font-family: Verdana, sans-serif !important;
}

.welcome-header {
  text-align: center;
  margin-bottom: 5%;
  height: 100%;
  width: 100%;
}

.welcome-title {
  font-size: 250%; /* Adjusted font size to percentage */
  font-weight: bold;
}

.welcome-subtitle {
  font-size: 150%; /* Adjusted font size to percentage */
  margin-top: 2%;
  
}

.upper-subtitle-container {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.lower-subtitle {
  font-size: 100%; /* Adjusted font size to percentage */
  text-align: center;
  width: 80%;
  max-width: 60%; /* Using percentages to control max-width */
  color: var(--text-color) !important;
  padding-bottom: 5%;
}

.pdf-link-container {
  margin-top: 20px;
  text-align: center;
}

.pdf-headline {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
  color: var(--text-color) !important;
  cursor: pointer;
}

.pdf-headline a {
  text-decoration: underline;
  color: inherit;
}

.pdf-headline a:hover {
  color: #0056b3;
}
